img {
  width: 100%;
}

.title {
  font-size: 25px;
}

.subtitle {
  font-size: 18px
}

.selectedPlayerMessage {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 15px;
  background-color: whitesmoke;
  color:  rgb(156, 156, 95);
}